



    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    header{
        background-image: url(./website-parallax-background-C.jpg);
        /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./website-parallax-background-C.jpg);  background image is black dark */
        background-size: cover;
        background-position: center;
        height: 100vh;
    
    }
    .nav{
        float : right;
        list-style: none;
        margin-top: 30px;
        

    }
    .nav li {
        display: inline-block;
        color: ivory;

    }
    .nav li a {
        color: ivory;
        text-decoration: none;
        padding: 5px 20px;
        font-family: 'Varela Round', sans-serif;
        
        font-size: 20px;
    
    }
    ul li a:hover{
        background-color: rgba(255, 255, 255, 0.212);
        border: 1px solid white;
    }
    a:hover{
        background-color: rgba(255, 255, 255, 0.212);
        border: 1px solid white;

        
    }
    .nav li.active a {
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.212);
        border-radius: 5px;
    }
.logo img{
   width: 80px;
   height: auto;
   float: left;
   position: relative;
   left: 30px;
   top :20px;
   
}
.logotext{
   color: white;
   font-family: 'Varela Round', sans-serif;
   font-size: 15px;
   position:absolute;
   float: left;
   top: 80px;
   left: 60px;
   
}
.row{
   max-width: 1200px;
   margin: auto;
}
.hero{
   position:absolute;
   width: 1200px;
   margin-right: 0px;
   margin-top: 0px;
}

h1{

color: white;
text-transform: uppercase;
font-family: 'Varela Round', sans-serif;
text-align:center;
margin-top: 250px;
}
.button{
margin-top: 30px;
margin-left: 440px;
}
.btn{
border: 1px solid whitesmoke;
text-decoration: none;
color: white;
padding: 10px 30px ;
margin-right: 13px;
font-size: 15px;
text-transform: uppercase;
border-radius: 10px;
height: 50px;


}
.btn-one{
background-color: darkcyan;
font-family: "roboto", "sans-serif";
}
.btn-two{
font-family:"roboto", "sans-serif" ;
background-color: darkorange;
}